@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ececec;
}

.header {
  max-width: 80%;
  margin: 0 auto;
  padding: 12px 10px;
  font-size: 25px;
}

.header a {
  color: rgb(75, 95, 75);
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
}

main {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

.recipes-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  list-style: none;
  padding: 0;
}
.recipe-card a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #444;
  font-size: 22px;
}
.recipe-card img {
  display: block;
  margin: auto;
  margin-bottom: 12px;
  max-width: 80%;
  object-fit: cover;
  border: 0.5px;
  border-radius: 2%;
}
.recipe-card {
  display: flex;
  border-radius: 2%;
  padding: 10px;
  text-align: center;
}

.recipe {
  width: 100vph;
}

.recipe h1 {
  font-size: 48px;
  font-weight: bolder;
  color: black;
  margin-bottom: 15px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.recipe img {
  border: 0.5px, solid, #444;
}

.breakdown {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  border: 0.5px, solid, #444;
}

.ingredients {
  list-style: none;
  padding: 25px, 10px;
  border-right: 0.5px, solid, #444;
}

.ingredient {
  margin-bottom: 15px;
}

.instructions {
  padding: 15px;
}
